<form action="/devices/add" method="post">
    <label for="New Device">New Device Details </label></br>
    <label for="nickname">Device Nickname</label>
    <input id="nickname" type="text" name="nickname"</br>
    <label for="type">Device Type</label>
    <input id="type" type="text" name="type"></br>
    <label for="os">Device OS</label>
    <input id="os" type="text" name="os"></br>
    <label for="version">Device OS Version</label>
    <input id="version" type="text" name="version"></br>
    <input type="submit" value="Add">
</form>
