<form action="/users/add" method="post">
    <label for="New Device Admin">New Device Admin Details </label></br>
    <label for="githubuserid">Github User Id</label>
    <input id="githubuserid" type="text" name="username"</br>
    <label for="username">User Name</label>
    <input id="username" type="text" name="display_name"></br>
    <label for="email_name">Email Id</label>
    <input id="email_name" type="text" name="email"></br>
    <input type="submit" value="Add">
</form>
