<a href="/">Home</a></li>
<p>
  <b> Device Added successfully! </b>
  <% const {nickName, type, os, version} = payload %>
  <b>Nickname :</b> <%= nickName%>
  <b>Device Type :</b> <%= type%>
  <b>OS :</b> <%= os%>
  <b>Version :</b> <%= version%>
</p>
