<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <form action="/devices/borrow" method="post">
  <div class="form-group">
    <label for="nickName">Device Nickname</label>
    <select class="form-control" name="nickName" id="nickName">
      <% for (var i = 0; i < devices.length;  i++) { %>
      <option><%= devices[i].nickname %></option>
     <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="borrowerEmail">Borrower Email Address </label>
    <input type="email" class="form-control" id="borrowerEmail" aria-describedby="borrowerEmailHelp" name="borrowerEmail" placeholder="Enter email address of borrower">
    <small id="borrowerEmailHelp" class="form-text text-muted">Enter email of the borrower. </small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</body>
<% include partials/script %>
</html>
