<p>
<li><a href="/devices">Devices</a></li>
<li><a href="/users">List Device Admins</a></li>
<li><a href="/users/add">Add New Device Admins</a></li>
<li><a href="/devices/add">Add New Device</a></li>
</p>
