<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <h> Welcome to QA device library!</h>

  </div>
</div>
</body>
<% include partials/script %>
</html>
