<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
  <form action="/users/delete" method="post">
  <div class="form-group">
    <label for="username">Account to Remove</label>
    <select class="form-control" name="username" id="username">
      <% for (var i = 0; i < users.length;  i++) { %>
      <option><%= users[i].username %></option>
     <% } %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</body>
<% include partials/script %>
</html>
