<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
  <form action="/devices/return" method="post">
  <div class="form-group">
    <label for="nickName">Device Nickname</label>
    <select class="form-control" name="nickName" id="nickName">
      <% for (var i = 0; i < devices.length;  i++) { %>
      <option><%= devices[i].nickname %></option>
     <% } %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</body>
<% include partials/script %>
</html>
