<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">QA Devices</a>
    </div>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Devices <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li id="device_list"><a href="/devices">Devices</a></li>
          <li id="borrowed_device_list"><a href="/devices/borrowed">Borrowed Devices</a></li>
          <li id="add_device"><a href="/devices/add">Add Device</a></li>
          <li id="borrow_device"><a href="/devices/borrow">Borrow Device</a></li>
          <li id="return_device"><a href="/devices/return">Return Device</a></li>
          <li id="borrow_history"><a href="/devices/borrow-history">Borrow History</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Librarians <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li id="librarians"><a href="/users">Librarians</a></li>
          <li id="add_librarian"><a href="/users/add">Add new librarian</a></li>
          <li id="remove_librarian"><a href="/users/delete">Remove librarian</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
