<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="device_list"><a href="/devices">List Device</a></li>
        <li id="borrowed_device_list"><a href="/devices/borrowed">List Borrowed Device</a></li>
        <li id="add_device"><a href="/devices/add">Add Device</a></li>
        <li id="borrow_device"><a href="/devices/borrow">Borrow Device</a></li>
        <li id="return_device"><a href="/devices/return">Return Device</a></li>
        <li id="borrow_history"><a href="/devices/borrow-history">Borrow History</a></li>
        <li id="librarians"><a href="/users">Librarians</a></li>
        <li id="add_librarian"><a href="/users/add">Add new librarian</a></li>
        <li id="remove_librarian"><a href="/users/delete">Remove librarian</a></li>
      </ul>
    </div>
  </div>
</nav>
